.root {
	-fx-base: #1A1B28;
	
	-fx-background: #2B2D42;
	
	-fx-control-inner-background: #1A1B28;
	
	-fx-font-family: Roboto;
	-fx-font-size: 16px;
	-fx-text-base-color: white;
    -fx-text-background-color: white;
    -fx-text-inner-color: white;
    -fx-selection-bar-text: black;
    
    -fx-hover-base: ladder(
    -fx-base,
        derive(-fx-base,20%) 20%,
        derive(-fx-base,30%) 35%,
        derive(-fx-base,40%) 50%
     );
	

}

.BorderPane {
	-fx-background-color: -fx-background;
}

.TextField {
	-fx-control-inner-background: -fx-base;
}

.RedPlayer {
	-fx-fill: red;
}

.BluePlayer {
	-fx-fill: blue;
}

.GridPane {
	-fx-background-color: -fx-base;
	-fx-border-color: white;
	
}

.GridBorderPane {
	-fx-border-color: white;
}

.WallUp {
	-fx-border-color: #D90429 white white white;
	-fx-border-width: 5 1 1 1;
}

.RedWallDown {
	-fx-border-color: white white red white;
	-fx-border-width: 1 1 10 1;
}

.RedWallRight {
	-fx-border-color: white red white white;
	-fx-border-width: 1 10 1 1;
}
.BlueWallDown {
	-fx-border-color: white white blue white;
	-fx-border-width: 1 1 10 1;
}

.BlueWallRight {
	-fx-border-color: white blue white white;
	-fx-border-width: 1 10 1 1;
}

.WallLeft {
	-fx-border-color: white white white #D90429;
	-fx-border-width: 1 1 1 5;
}

.GridBorderPane:hover, .WallLeft:hover, .WallRight:hover, .WallDown:hover, .WallUp:hover {
	-fx-background-color: -fx-background;
}

.MenuBar {
	-fx-background-color: -fx-base;
}

.Label{
	-fx-padding: 10;
	-fx-background-color: -fx-base;
	-fx-background-radius: 10;
	-fx-text-fill: white;
}

.SelectedLabel {
	-fx-padding: 10;
	-fx-background-color: white;
	-fx-background-radius: 10;
	-fx-text-fill: black;
}

.Dialog {
	-fx-background-color: -fx-base;
}