.root {
	-fx-base: #1A1B28;
	
	-fx-background: #2B2D42;
	
	-fx-control-inner-background: #1A1B28;
	
	-fx-font-family: Roboto;
	-fx-font-size: 16px;
	-fx-text-base-color: white;
    -fx-text-background-color: white;
    -fx-text-inner-color: white;
    -fx-selection-bar-text: black;
    
    -fx-hover-base: ladder(
    -fx-base,
        derive(-fx-base,20%) 20%,
        derive(-fx-base,30%) 35%,
        derive(-fx-base,40%) 50%
     );
	

}

.BorderPane {
	-fx-background-color: -fx-background;
}

.TextField {
	-fx-control-inner-background: -fx-base;
}

.RedPlayer {
	-fx-fill: red;
	-fx-stroke : white;
}

.BluePlayer {
	-fx-fill: blue;
	-fx-stroke : white;
}

.Barrier {
	-fx-arc-height: 5;
	-fx-arc-width: 5;
	-fx-stroke: white;
}

.GridPane {
	-fx-background-color: -fx-base;
	-fx-border-color: white;
	
}

.GridBorderPane {
	-fx-border-color: white;
}

.GridBorderPane:hover, .WallLeft:hover, .WallRight:hover, .WallDown:hover, .WallUp:hover {
	-fx-background-color: -fx-background;
}

.MenuBar {
	-fx-background-color: -fx-base;
}

.Label{
	-fx-padding: 10;
	-fx-background-color: -fx-base;
	-fx-background-radius: 10;
	-fx-text-fill: white;
}

.SelectedLabel {
	-fx-padding: 10;
	-fx-background-color: white;
	-fx-background-radius: 10;
	-fx-text-fill: black;
}

.Dialog {
	-fx-background-color: -fx-base;
}