
.root{
	-fx-background: #2B2D42;
	Amaranth: #D90429;
	Raisin: #1A1B28;
}

.bigLabel{
	-fx-font-family: 'Serif';
	-fx-font-size: 65;
	-fx-font-weight: bold;
	-fx-text-fill: Amaranth;
}

.button{
	-fx-font-family: 'monospace';
	-fx-font-size: 22;
	-fx-text-fill: white;
	-fx-background-color: Raisin;
}






