
.root{
	-fx-background: #2B2D42;
	Amaranth: #D90429;
	Raisin: #1A1B28;
}

.topBox{
	-fx-background-color: Raisin;
}

.bottomBox{
	-fx-background-color: Amaranth;
}

.bigLabel{
	-fx-font-family: 'Serif';
	-fx-font-size: 85;
	-fx-font-weight: bold;
	-fx-text-fill: Amaranth;
}

.button{
	-fx-font-family: 'monospace';
	-fx-font-size: 30;
	-fx-text-fill: white;
	-fx-background-color: Raisin;
}

.bottomButton{
	-fx-font-family: 'monospace';
	-fx-font-size: 30;
	-fx-text-fill: black;
	-fx-background-color: white;
}






